table {
    justify-self: center;
    border-collapse: collapse;
    border:2px solid black;
    border-spacing: 10px;
    width: 40%;

}

td, th {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    
}


